@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */
/*  */
/*  */
/* Typografi */
* {
  box-sizing: border-box;
}

h1 {
  font-family: "scotch-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.986rem;
  /* black200 */
  color: #3f4a3f;
  line-height: 97%;
  letter-spacing: 0.08rem;
}

h2 {
  font-family: "scotch-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.074rem;
  /* black800 */
  color: #1a1f1a;
  line-height: 110%;
  letter-spacing: 0.08rem;
}

h3 {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.44rem;
  /* black700 */
  color: #1f241f;
  line-height: 120%;
  letter-spacing: 0.03rem;
}
/* Tablet */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.583rem;
  }

  h2 {
    font-size: 2.488rem;
  }

  h3 {
    font-size: 1.728rem;
  }
}

/* Web */
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4.3rem;
  }

  h2 {
    font-size: 2.986rem;
  }

  h3 {
    font-size: 2.074rem;
  }
}

.bodyMedium {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  /* black600 */
  color: #242a24;
  line-height: 140%;
  letter-spacing: 0.03rem;
}

.bodySmall {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  /* black600 */
  color: #242a24;
  line-height: 140%;
  letter-spacing: 0.03rem;
}

.bodyBase {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  max-width: 60ch;
  /* black500 */
  color: #2a312a;
  line-height: 140%;
  letter-spacing: 0.03rem;
}

#hero_section .bodyBase {
  max-width: fit-content;
}

#bodyBaseForms {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  max-width: 60ch;
  /* black500 */
  color: #716b52;
  letter-spacing: 0.03rem;
}

.bodyBaseItalic {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
  /* black500 */
  color: #2a312a;
  letter-spacing: 0.03rem;
}

.bodyXsmall {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.8rem;
  /* black500 */
  color: #2a312a;
  letter-spacing: 0.03rem;
}

.menulinks {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  /* black200 */
  color: #3f4a3f;
  letter-spacing: 0.03rem;
}

/*  */
/*  */
/*  */
/* Knapper */
.primaryButton {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  background-color: #f1e6b2;
  color: #496259;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 3px;
  letter-spacing: 0.03rem;
}
.primaryButton:hover {
  background-color: #e4d06d;
  color: #33433d;
  transform: scale(0.97);
}

.secondaryButton {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  border: 1.5px solid #33433d;
  color: #33433d;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 27px;
  padding-right: 27px;
  border-radius: 3px;
  letter-spacing: 0.03rem;
}
.secondaryButton:hover {
  border: 2px solid #232e2a;
  color: #232e2a;
  transform: scale(0.97);
}

/*  */
/*  */
/*  */
/* Styling i kontaktformular - font*/

input::placeholder,
textarea::placeholder {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  color: #716b52;
}
/*  */
/*  */
/*  */
/* kontaktformular */
#kontaktformular {
  background-image: url("img/palme.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left;
  background-position-x: left;
}

/*  */
/*  */
/*  */
/* Testimonials card components styling */

@layer components {
  .card {
    background-color: theme("colors.yellow500");
    border-radius: 3px;
    padding: 2rem;
    width: auto;
    max-width: 300px;
    min-height: 200px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    margin-left: 15px;

    background-image: url("img/palme_gul.svg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: right;
  }

  .card:last-child {
    margin-right: 15px;
  }

  .card:last-child::after {
    content: " ";
    display: inline-block;
  }

  #carrousel_flexbox .card {
    flex: 0 0 auto;
  }
}
/*  */
/*  */
/*  */
/* Burger Menu streger */
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background-color: #3d514a;
  margin: 6px 0;
  transition: 0.4s;
}

.container:active {
  transform: scale(1.1);
}

.change .bar1 {
  transform: translate(0, 9px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -9px) rotate(45deg);
}

#behandlings_boks {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* -------------- */

@media screen and (min-width: 1280px) {
  /* underlig firkant */
  #polygon {
    background-color: #fbf7e6;
    clip-path: polygon(0 0, 100% 0%, 68% 100%, 0% 100%);
  }
}

#gulBoks {
  background-image: url("img/plante1.svg");
}
