@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: "scotch-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.986rem;
  /* black200 */
  color: #3f4a3f;
}

h2 {
  font-family: "scotch-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.074rem;
  /* black800 */
  color: #1a1f1a;
}

h3 {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.44rem;
  /* black700 */
  color: #1f241f;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4.3rem;
  }

  h2 {
    font-size: 2.986rem;
  }

  h3 {
    font-size: 2.074rem;
  }
}

#bodyMedium {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  /* black600 */
  color: #242a24;
}

#bodySmall {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  /* black600 */
  color: #242a24;
}

#bodyBase {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  max-width: 60ch;
  /* black500 */
  color: #2a312a;
}

#bodyBaseForms {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  max-width: 60ch;
  /* black500 */
  color: #716b52;
}

#bodyBaseItalic {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
  /* black500 */
  color: #2a312a;
}

#bodyXsmall {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.8rem;
  /* black500 */
  color: #2a312a;
}

#menulinks {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  /* black200 */
  color: #3f4a3f;
}

#knaptekster {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
}

#primaryButton {
  background-color: #f1e6b2;
  color: #496259;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 3px;
}
#primaryButton:hover {
  background-color: #ecde99;
  transform: scale(0.97);
}

#secondaryButton {
  background-color: #496259;
  color: #f1e6b2;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 3px;
}
#secondaryButton:hover {
  background-color: #3d514a;
  transform: scale(0.97);
}

#tertiaryButton {
  border: 2px solid #716b52;
  color: #716b52;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 3px;
}

#tertiaryButton:hover {
  border: 2px solid #374037;
  color: #242a24;
}

#form::placeholder {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  color: #716b52;
}

/* underlig firkant */
#polygon {
  clip-path: polygon(0 0, 100% 0%, 68% 100%, 0% 100%);
}

/* kontaktformular */

#kontaktformular {
  background-image: url("img/palme.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left;
  background-position-x: left;
}

/* Testimonials card components styling */

@layer components {
  .card {
    background-color: theme("colors.yellow500");
    border-radius: 3px;
    padding: 2rem;
    width: 33vw;
    max-width: 330px;
    min-height: 200px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    margin-left: 15px;

    background-image: url("img/palme.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: center;
  }

  .card:last-child {
    margin-right: 15px;
  }

  .card:last-child::after {
    content: " ";
    display: inline-block;
  }

  #carrousel_flexbox .card {
    flex: 0 0 auto;
  }
}
